* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(180deg, #2a0066, #0b0218);
  color: #e5e5e5;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(90deg, #3a0ca3, #7209b7);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav h2 {
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #ddd;
}

nav ul li a:hover {
  color: #ffd166;
}

section {
  padding: 90px 40px;
  max-width: 1100px;
  margin: auto;
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #7b2cbf;
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 10px;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 span {
  color: #ffd166;
}

.btn {
  margin-top: 25px;
  padding: 12px 28px;
  border-radius: 25px;
  background: #1b1b1b;
  color: #a855f7;
  border: none;
  cursor: pointer;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skill {
  padding: 10px 18px;
  background: #2b0a3d;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(123,44,191,0.3);
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  background: #151515;
  padding: 25px;
  border-radius: 15px;
  position: relative;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(#ffd166, #7b2cbf);
  border-radius: 15px 0 0 15px;
}

/* LIST */
.list {
  list-style: none;
  color: #cfcfcf;
}

.list li {
  margin-bottom: 10px;
}

/* CONTACT */
.contact a {
  color: #a855f7;
  display: block;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: linear-gradient(90deg, #3a0ca3, #7209b7);
  text-align: center;
  padding: 15px;
}